<div class="blog-post">
  <h2>{{title}}</h2>
  {{!-- <p class="post-author">Written by {{author}} on {{formattedDate created_at}}</p> --}}
  <p>{{{content}}}</p>
</div>
<div class="comments">
  {{#each comments}}
    <div class="comment">
      {{!-- <p class="comment-author">Comment by {{author}} on {{formattedDate created_at}}</p> --}}
      <p>{{{content}}}</p>
    </div>
  {{/each}}
</div>
<form class="new-comment" method="POST" action="/blogpost/{{id}}/comments">
  <h3>Add a comment:</h3>
  <textarea name="content" placeholder="Enter your comment here"></textarea>
  <button type="submit">Submit</button>
</form>